<%- include("partials/header"); %>

<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-7">
            <img class="ui circular image" src="<%= dog.url %>">
        </br>
            <div class="form-group">
                <button class="btn btn-primary">Name</button>
            </div>
            <div class="form-group form-control">
                <p style="padding: 2px; font-weight: 800;"><%= dog.name %></p>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Average Life</button>
            </div>
            <div class="form-group form-control">
                <p style="padding: 2px; font-weight: 800;"><%= dog.life %></p>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Male species' Weight</button>
            </div>
            <div class="form-group form-control">
                <p style="padding: 2px; font-weight: 800;"><%= dog.male_weight %></p>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Female species' Weight</button>
            </div>
            <div class="form-group form-control">
                <p style="padding: 2px; font-weight: 800;"><%= dog.female_weight %></p>
            </div>
        </div>
    </div>
</div>



<%- include("partials/footer"); %>